.titulo {
    color: steelblue;
}

.banner {
    height: 200px;
}

.banner-small {
    height: 300px;
}

.fecha {
    font-size: small;
    color: darkgray;
    float: left;
}

.footer{
    font-size:15px;
    color: darkgray;

}

.title{
color: lightskyblue;
}
