.titulo {
    color: steelblue;
}

.banner {
    height: 200px;
}

.title {
    color: lightskyblue;
}

.banner-small {
    height: 300px;
}

.fecha {
    font-size: small;
    color: darkgray;
    float: left;
}

.footer {
    font-size: 15px;
    color: darkgray;

}

.title {
    color: lightskyblue;
}
